html {
	height: 100%;
}

body {
	padding: 0 8em;
  background-color: #eef;
  height: 100%;
}

@media (max-width: 850px) {
	body {
		padding: 0 2em;
	}
}

@media (max-width: 600px) {
	body {
		padding: 0;
	}
}
